@charset "UTF-8";
.header_toolbar {
  background: #fafafa;
}

.toolbar_wrapper {
  width: 1200px;
  margin: 0 auto;
}

.toolbar_wrapper ul {
  height: 29px;
  float: right;
}

.toolbar_wrapper li {
  float: left;
  line-height: 29px;
  font-size: 12px;
  margin-right: 20px;
  position: relative;
  z-index: 999;
}

.toolbar_wrapper li a {
  color: #999;
  height: 29px;
  line-height: 29px;
}

.toolbar_wrapper li a:hover {
  color: #e02f2f;
}

.toolbar_wrapper li a img {
  position: relative;
  top: 3px;
}

.toolbar_wrapper li a b {
  color: #cf201c;
}

.toolbar_wrapper li a em {
  background: url(//status.tuanimg.com/statics/zhe/common/img/index-common.png) 0 0 no-repeat;
  display: inline-block;
  width: 12px;
  height: 16px;
  position: relative;
  top: 3px;
  left: -2px;
}

.toolbar_wrapper li:nth-of-type(8) {
  margin-right: 0;
}

.toolbar_wrapper li i {
  height: 12px;
  width: 1px;
  background: #e5e5e5;
  display: inline-block;
  margin-left: 20px;
  position: relative;
  top: 2px;
}

.code:hover .qc_code {
  display: block;
}

.qc_code {
  height: 32px;
  display: none;
  width: 130px;
  position: absolute;
  left: -39px;
  top: 0px;
  background: #fff;
  -webkit-box-shadow: 5px 0px 5px -5px #d4d4d4, -5px 0px 5px -5px #d4d4d4;
          box-shadow: 5px 0px 5px -5px #d4d4d4, -5px 0px 5px -5px #d4d4d4;
}

.qc_code .qc_code_img {
  height: 138px;
  width: 139px;
  position: relative;
  left: -1px;
  z-index: -1;
  -webkit-box-shadow: 0 0 5px #d4d4d4;
          box-shadow: 0 0 5px #d4d4d4;
  border: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(//status.tuanimg.com/statics/zhe/components/toolbar/img/big_bg_img_v3.png) center no-repeat #fff;
}

.color_red a {
  color: #ec1611 !important;
}

.header_wrapper {
  width: 1200px;
  margin: 0 auto;
}

.logo a {
  width: 225px;
  height: 55px;
  background: url(//status.tuanimg.com/statics/zhe/common/img/logo_zhe800_new.png) center center no-repeat;
  display: block;
  margin-top: 22px;
}

.header_input {
  width: 545px;
  height: 35px;
  border: 2px solid #e60044;
  border-right: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  position: relative;
  margin: 30px 0 0 30px;
}

.header_input ._input {
  width: 375px;
  height: 24px;
  padding: 5px 0 5px 10px;
  color: #999;
  border: 0;
  vertical-align: middle;
  outline: none;
  margin-top: 1px;
}

.header_input ._submit {
  width: 48px;
  height: 24px;
  margin-top: 7px;
  background: #fff url(//status.tuanimg.com/statics/zhe/common/img/index-common.png) -34px 0 no-repeat;
  cursor: pointer;
  outline: 0;
}

.header_input_1 {
  width: 94px;
  height: 35px;
  padding-right: 17px;
  color: #fff;
  font-size: 19px;
  text-align: center;
  line-height: 35px;
  background: url(//status.tuanimg.com/statics/zhe/common/img/index-common.png) -34px -34px no-repeat;
}

.header_input_2 {
  width: 15px;
  height: 39px;
  background: url(//status.tuanimg.com/statics/zhe/common/img/index-common.png) 0 -34px no-repeat;
  position: absolute;
  top: -2px;
  right: -15px;
}

.header_top {
  padding-bottom: 23px;
}

.header_top span {
  margin-top: 30px;
}

#header {
  border-bottom: 1px solid #e5e5e5;
}

.header_nav {
  width: 1100px;
  margin: 0 auto;
  position: relative;
  left: -50px;
}

.header_nav ul {
  position: relative;
}

.header_nav li {
  float: left;
}

.header_nav li:nth-of-type(1) a {
  width: 150px;
  background: #e60044;
  color: #fff;
}

.header_nav li:hover a {
  border-bottom: 2px solid #ec1611;
  -webkit-box-shadow: 10px 0 5px -5px #ddd, -10px 0 5px -5px #ddd;
          box-shadow: 10px 0 5px -5px #ddd, -10px 0 5px -5px #ddd;
}

.header_nav a {
  display: block;
  height: 40px;
  width: 130px;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  color: #696969;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header_nav span {
  display: block;
  position: absolute;
  right: -100px;
  bottom: 0px;
}

.header_nav span a {
  background-image: url(https://z3.tuanimg.com/imagev2/site/126x34.31dcb164756e442506db73bd7457c8f7.gif);
  height: 34px;
  width: 126px;
}

.header_nav span a:hover img {
  display: block;
}

.header_nav span a img {
  position: absolute;
  top: 35px;
  right: 0px;
  display: none;
  z-index: 999;
}

.banner_wrapper {
  width: 1200px;
  margin: 0 auto;
  height: 304px;
  border: 1px solid #e5e5e5;
  border-top: 0;
  display: block;
}

.banner_left {
  height: 304px;
  width: 148px;
}

.banner_left ul {
  width: 138px;
  padding: 0 6px;
}

.banner_left li:nth-of-type(9) p {
  font-size: 12px;
  margin-left: 0;
}

.banner_left li:nth-of-type(10) {
  border-bottom: 0;
}

.banner_left li:nth-of-type(10) p {
  font-size: 12px;
  margin-left: 0;
  padding-left: 5px;
}

.banner_left li:nth-of-type(10) p a {
  padding-left: 7px;
}

.banner_left li {
  display: block;
  height: 29px;
  width: 136px;
  margin: 0 auto;
  border-bottom: 1px solid #e0e0e0;
}

.banner_left p {
  line-height: 29px;
  margin-left: 30px;
  color: black;
}

.banner_left a:hover {
  color: #ff4545;
  text-decoration: underline;
}

.banner_left a {
  color: #333;
}

.target {
  background: url(//z5.tuanimg.com/v2/core/img/shouye_new_img.png) no-repeat -18px -559px !important;
}

.banner_inpic {
  position: absolute;
  right: 10px;
  top: 10px;
}

.banner_inpic img {
  display: block;
  height: 137px;
  width: 137px;
  margin-bottom: 10px;
}

.banner_content {
  border-bottom: 1px solid #e0e0e0;
  width: 951px;
  height: 304px;
  position: relative;
}

.banner_content li {
  position: absolute;
}

.banner_content span {
  display: inline-block;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  bottom: 20px;
  z-index: 2;
}

.banner_content b {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: url(//z5.tuanimg.com/v2/core/img/shouye_new_img.png) no-repeat -34px -559px;
  display: block;
  float: left;
  margin-left: 5px;
}

.banner_right {
  height: 304px;
  width: 98px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.banner_right div {
  margin: 0 auto;
  margin-top: 15px;
}

.banner_right .banner_right1 {
  height: 83px;
  width: 80px;
}

.banner_right .banner_right1 p {
  background: url(//status.tuanimg.com/statics/zhe/common/img/index-common.png) no-repeat;
  background-position: -231px -34px;
}

.banner_right .banner_right2 {
  height: 83px;
  width: 80px;
}

.banner_right .banner_right2 p {
  background: url(//status.tuanimg.com/statics/zhe/common/img/index-common.png) no-repeat;
  background-position: -231px -82px;
}

.banner_right .banner_right3 {
  height: 125px;
  width: 80px;
}

.banner_right .banner_right3 img {
  height: 60px;
  width: 60px;
  margin: 0 auto;
  display: block;
}

.banner_right .banner_right3 img span {
  font: 12px/15px "microsoft yahei";
  margin-top: 6px;
}

.banner_right a {
  display: block;
}

.banner_right p {
  height: 40px;
  width: 40px;
  display: block;
  margin: 0 auto;
  border-radius: 25px;
}

.banner_right span {
  line-height: 36px;
  color: #ff404c;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.footer_wrapper {
  border-top: 3px solid #ec1611;
}

.footer_wrapper ul {
  width: 1200px;
  margin: 0 auto;
}

.footer_wrapper li {
  float: left;
  width: 140px;
  height: 270px;
  text-align: left;
  line-height: 24px;
  padding-top: 28px;
  padding-left: 60px;
}

.footer_wrapper li:nth-of-type(1) {
  padding-left: 0;
}

.footer_wrapper li span {
  display: block;
  font: 16px/30px "微软雅黑";
  color: #333;
}

.footer_wrapper li span:nth-of-type(1) {
  background: url(//status.tuanimg.com/statics/zhe/common/img/foot_icon.png) no-repeat;
  width: 80px;
  height: 80px;
  display: block;
  margin-bottom: 14px;
}

.footer_wrapper li a {
  display: block;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 24px;
  width: 85px;
  font-size: 12px;
}

.hehe {
  font-size: 12px !important;
  color: #999 !important;
  text-align: 24px !important;
}

.hehe a {
  display: initial !important;
  color: #ec1611 !important;
}

.hehe a:hover {
  text-decoration: underline;
}

.txt {
  height: 21px;
  line-height: 21px;
  width: 98px;
  padding-left: 5px;
  color: #ccc;
  border: 1px solid #eaeaea;
  vertical-align: middle;
  font-size: 12px;
  padding: 1px 6px;
}

.sub {
  height: 25px;
  line-height: 25px;
  width: 42px;
  cursor: pointer;
  color: #999;
  border-left: 0;
  border: 1px solid #eaeaea;
  vertical-align: middle;
  background: #fafafa no-repeat;
  font-size: 12px;
  padding: 1px 6px;
}

.li_2 span {
  background-position: -95px 0 !important;
}

.li_3 span {
  background-position: 0 -95px !important;
}

.li_4 span {
  background-position: -190px 0 !important;
}

.li_5 span {
  background-position: -95px -95px !important;
}

#li_6 span:nth-of-type(1) {
  margin-top: 6px;
  width: 104px;
  height: 220px;
  margin: 0 auto;
  background: url(//status.tuanimg.com/statics/zhe/common/img/footer_code.png) 0 0 no-repeat;
}

#li_6 span {
  font: 14px/30px "微软雅黑";
  color: #666;
  text-align: center;
  display: block;
}

.friend_url {
  width: 750px;
  padding-top: 40px;
  margin: 0 auto;
}

.friend_url p {
  font-size: 12px;
  line-height: 20px;
  color: #999;
}

.friend_url a {
  display: inline-block;
  color: #999;
  font-size: 12px;
}

.end {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  padding: 10px 0 0px 0;
}

.end p {
  text-align: center;
  font: 12px/30px '微软雅黑';
  color: #999;
}

.end span {
  font: 12px/30px '微软雅黑';
  color: #999;
}

.end a {
  color: #999;
}

.end a:hover {
  text-decoration: underline;
}

.end_bg {
  height: 28px;
  width: 330px;
  margin-top: 7px;
  margin: 0 auto;
  padding: 10px 0 30px 0;
}

.end_bg a {
  margin-right: 10px;
}

.end_bg .a1 {
  background: url(//status.tuanimg.com/statics/zhe/subject/img/logo.jpg) no-repeat;
  width: 30px;
  height: 28px;
  background-size: 30px 28px;
  display: block;
  float: left;
}

.end_bg .a2 {
  background: url(//status.tuanimg.com/statics/zhe/common/img/cert.png);
  background-size: contain;
  height: 26px;
  width: 70px;
  display: block;
  float: left;
}

.end_bg .a3 {
  background: url(//status.tuanimg.com/statics/zhe/common/img/gsrz-icon.jpg);
  display: block;
  height: 28px;
  width: 28px;
  background-size: contain;
  float: left;
}

.brand_top, .flashsale_top, .hotpush_top, .update_top {
  height: 40px;
  width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid #ff404c;
  overflow: hidden;
}

.brand_top .last, .flashsale_top .last, .hotpush_top .last, .update_top .last {
  color: #fff !important;
  background: #ff404c;
  padding: 1px 10px;
  margin-right: -1px !important;
}

.brand_top .last:hover, .flashsale_top .last:hover, .hotpush_top .last:hover, .update_top .last:hover {
  color: #fff !important;
}

.brand_top .color, .flashsale_top .color, .hotpush_top .color, .update_top .color {
  color: #ff404c !important;
}

.brand_top span, .flashsale_top span, .hotpush_top span, .update_top span {
  height: 31px;
  width: 140px;
  display: inline-block;
  background: url(../images/brand.png) no-repeat;
  margin-left: 13px;
}

.brand_top i, .flashsale_top i, .hotpush_top i, .update_top i {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: #ff404c;
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 5px;
}

.brand_top a, .flashsale_top a, .hotpush_top a, .update_top a {
  color: #666;
  display: inline-block;
  margin-bottom: 19px;
  vertical-align: middle;
}

#brand {
  width: 1200px;
  margin: 0 auto;
  padding-top: 31px;
}

#brand b {
  margin-top: 10px;
}

#brand b a {
  color: #333;
  margin: 0 7px;
  line-height: 28px;
  margin-top: 0px;
}

#brand b a:hover {
  color: #ff404c;
}

.brand_content li:nth-of-type(3) {
  margin: 0;
}

.brand_content li {
  height: 200px;
  width: 392px;
  display: block;
  float: left;
  position: relative;
  margin-right: 12px;
  -webkit-transition: -webkit-box-shadow 500ms ease-out;
  transition: -webkit-box-shadow 500ms ease-out;
  transition: box-shadow 500ms ease-out;
  transition: box-shadow 500ms ease-out, -webkit-box-shadow 500ms ease-out;
}

.brand_content li:hover {
  -webkit-box-shadow: 0 0 30px 1px #999;
          box-shadow: 0 0 30px 1px #999;
}

.brand_content li img {
  height: 100%;
  width: 100%;
  display: block;
}

.brand_content li span {
  height: 25px;
  width: 100%;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 25px;
  text-align: center;
  color: #fff;
  background: rgba(5, 8, 9, 0.45);
}

.brand_bottom ul {
  margin-top: 12px;
}

.brand_bottom li {
  float: left;
  position: relative;
}

.brand_bottom li:hover {
  -webkit-box-shadow: 0px 0 30px 1px #999;
          box-shadow: 0px 0 30px 1px #999;
}

.brand_bottom li i {
  display: block;
  height: 18px;
  top: 23px;
  position: absolute;
  right: 0;
  border-right: 1px solid #eaeaea;
}

#flashsale {
  width: 1200px;
  height: 299px;
  margin: 0 auto;
  border-bottom: 1px solid #eaeaea;
}

#flashsale b {
  display: block;
}

#flashsale b a {
  margin-top: 12px;
  font-size: 12px;
  display: block;
  float: left;
  height: 28px;
  padding: 0 8px;
  line-height: 28px;
}

#flashsale b a:hover {
  background: #ff404c;
  color: #fff;
}

.flashsale_top span {
  background: url(../images/flashsale.png);
}

.flashsale_top em {
  color: #666;
  display: inline-block;
  margin-bottom: 19px;
  vertical-align: middle;
}

.flashsale_content {
  position: relative;
}

.flashsale_content ul {
  width: 33901px;
}

.flashsale_content li:hover {
  -webkit-box-shadow: 0 0 30px 1px #999;
          box-shadow: 0 0 30px 1px #999;
}

.flashsale_content li {
  float: left;
  width: 185px;
  height: 250px;
  margin-right: 18px;
  -webkit-transition: -webkit-box-shadow 0.8s;
  transition: -webkit-box-shadow 0.8s;
  transition: box-shadow 0.8s;
  transition: box-shadow 0.8s, -webkit-box-shadow 0.8s;
}

.flashsale_content li img {
  width: 100%;
}

.flashsale_content li span {
  color: #ec1611;
  font: 13px/33px "微软雅黑";
  float: left;
  text-align: right;
  margin-left: 10px;
  display: block;
}

.flashsale_content li span em {
  font: 700 16px/33px Arial;
  margin-left: 4px;
}

.flashsale_content li p {
  font-size: 12px;
  line-height: 20px;
  width: 175px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #666;
  margin: 6px 10px 0 10px;
}

.flashsale_content .btnleft,
.flashsale_content .btnright {
  width: 17px;
  height: 43px;
  position: absolute;
  cursor: pointer;
  z-index: 3;
  background-image: url(//z6.tuanimg.com/v3/src/img/common/big_bg_img_v3.png);
  top: 71px;
}

.flashsale_content .btnleft {
  background-position: -277px -440px;
  left: 0;
}

.flashsale_content .btnright {
  background-position: -307px -440px;
  right: 0;
}

#hotpush {
  width: 1200px;
  margin: 0 auto;
  margin-top: 34px;
}

.hotpush_top em {
  font-size: 12px;
  color: #666;
  position: relative;
  bottom: 8px;
  margin-left: 3px;
}

.hotpush_top span {
  background: url(../images/hotpush.png);
}

.hotpush li {
  float: left;
  margin-right: 10px;
}

.hotpush li:nth-of-type(5) {
  margin-right: 0px;
}

.update_top {
  width: 1200px;
  margin: 0 auto;
  margin-top: 31px;
}

.update_top span {
  width: 160px;
  background: url(../images/updata.png) no-repeat;
}

.update_top b {
  margin-top: 15px;
}

.update_top b em {
  color: #ccc;
  font-weight: 400;
  display: inline-block;
  width: 5px;
  font-size: 12px;
  position: relative;
  bottom: 9px;
  left: 2px;
}

.update_top b a {
  display: inline-block;
  padding: 6px 10px !important;
}

.update_top b a:hover {
  color: #ff404c;
  text-decoration: underline;
}

.update_bg {
  background: #f2f2f2;
}

.update_content {
  width: 1240px;
  margin: 0 auto;
}

.update_content div {
  width: 283px;
  height: 345px;
  background: #fff;
  float: left;
  margin: 0 3px 30px 20px;
  position: relative;
}

.update_content div:hover {
  -webkit-box-shadow: 5px 0 10px #ddd, -5px 0 10px #ddd;
          box-shadow: 5px 0 10px #ddd, -5px 0 10px #ddd;
}

.update_content div img {
  height: 283px;
  width: 283px;
}

.update_content div span {
  padding: 0 10px;
  overflow: hidden;
  display: block;
}

.update_content div span a {
  width: 195px;
  display: inline-block;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 30px;
  font-size: 12px;
}

.update_content div span a:hover {
  text-decoration: underline;
}

.update_content div span em {
  display: inline-block;
  float: right;
  color: #666;
  line-height: 30px;
}

.update_content div b {
  font-size: 16px;
  color: #ec1611;
  display: inline-block;
  width: 194px;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 30px;
  margin-left: 10px;
}

.update_content div i {
  display: inline-block;
  color: #999;
  font-size: 12px;
  font-style: normal;
  position: absolute;
  bottom: 8px;
  right: 10px;
  background: url(//z6.tuanimg.com/v3/src/img/common/big_bg_img_v3.png) no-repeat -493px -64px;
  padding-left: 18px;
  cursor: pointer;
}

.update_content div i:hover {
  background: url(//z5.tuanimg.com/v2/core/img/favorite_icon.png) 0 -3px no-repeat;
  color: #ec1611;
}

.page {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0 28px 0;
  margin-bottom: 22px;
}

.list_page {
  display: inline-block;
  width: 430px;
  height: 50px;
  margin: 0 auto;
}

.list_page span {
  height: 30px;
  width: 30px;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

.list_page span:nth-of-type(1) {
  background: url(//status.tuanimg.com/statics/zhe/common/img/prev_nextpng.png) -46px -32px;
}

.list_page span:nth-of-type(2) {
  color: #ff404c;
}

.list_page span:nth-of-type(8) {
  background: url(//status.tuanimg.com/statics/zhe/common/img/prev_nextpng.png) -46px 0;
}

.bottom_img {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.bottom_img li {
  float: left;
  width: 232px;
  height: 159px;
  margin-right: 10px;
}

.bottom_img li:nth-of-type(5) {
  margin-right: 0;
}

.bottom_img li:hover {
  -webkit-box-shadow: 0 0 30px 1px #999;
          box-shadow: 0 0 30px 1px #999;
  -webkit-transition: -webkit-box-shadow 0.8s;
  transition: -webkit-box-shadow 0.8s;
  transition: box-shadow 0.8s;
  transition: box-shadow 0.8s, -webkit-box-shadow 0.8s;
}

#right_box {
  height: 100%;
  width: 34px;
  background: black;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999999;
  color: #fff;
}
/*# sourceMappingURL=index.css.map */